%form{ :method => :post, :action => '/', :name => 'message' }

    %label{ :for => 'message' }Message
    %input{ :type => 'password', :name => 'message' }
    %br
    %input{ :type => 'submit', :value => 'Post the message' }

