!!!
%html
    %head
        %title Widgets
        %link{ :rel => :stylesheet, :href => '/styles.css' }
    %body
        #header
            %h1 Widgets
            %nav
                %a{ :href => '/' }Home
                %a{ :href => '/message' }Message
                - if session[:message]
                    %a{ :href => '/kill' }Kill the message
        - if @message
            #message= @message
        = yield
